a{
	text-decoration: none;
    color: white;
    margin: 10px;
}

a:hover, a:active{
	color: lightgray;
}

.navigation-items{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
